body{
    margin:0;
    overflow: hidden;
}
.box{
    position: relative;
    width:100%;
    height:600px;
    margin: 0 auto;
    overflow: hidden;
}
#main{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
}
#minor{
    position: absolute;
    top:30px;
    left:0;
    height:300px;
    width:300px;
    display:none;
}
.back{
    position: absolute;
    top:0;
    left:160px;
    width:50px;
    height:24px;
    line-height: 24px;
    cursor: pointer;
    overflow: auto;
    color:#fff;
    font-size: 12px;
    display: none;
}
.showtime{
    position: absolute;
    top:5px;
    right:5px;
    width:auto;
    height:16px;
    font-size: 12px;
    color:#fff;
}
.legendbox{
    position: absolute;
    top:0;
    left:0;
    width:150px;
    height:30px;
    overflow: auto;
    font-size: 12px;
    display: none;
}
.legendItem{
    margin:5px 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
}
.styled-select {
   width: 130px;
   height: 22px;
   overflow: hidden;
   color:#fff;
   background: url(x1.png) no-repeat 113px #000;
/*      width: 240px;
   height: 34px;
   overflow: hidden;
   background: url(new_arrow.jpg) no-repeat right #ddd;*/
}
.styled-select img{
    position: absolute;
    right: 1px;
    top: 1px;
    width: 20px;
    height: 19px;
    background-color: #000;
}
.styled-select select {
   color:#fff;
   background:  transparent;
   width: 148px;
   /*border: 1px solid #ccc;*/
   line-height: 22px;
   padding-left:6px;
   font-size: 12px;
   -webkit-appearance: none; /*for chrome*/
   /*height: 27px;*/

/*    background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   border: 1px solid #ccc;
   height: 34px;
   -webkit-appearance: none;*/

}
.styled-select select option{
    background-color: #000;
}
.label{
    float:left;
    display: block;
    width:20px;
    height:12px;
    margin:0 5px;
    background-color: #ccc;
}
.active{
    background-color: orange;
}
.title{
    float:left;
    display: block;
    width:100px;
    line-height: 1;
    color:#fff;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.waybillList{
    position: absolute;
    top:38px;
    right:0;
    /*width:312px;*/
    width:350px;
    height:172px;
    display: none;
    color:#fff;
    overflow: hidden;
}
.waybilltitle{
    position: absolute;
    top:0;
    left:0;
    /*width:312px;*/
    width:348px;
    height:22px;
    border:1px #ccc solid;
    display: block;
    color:#fff;
    overflow: hidden;
}
.waybilltitle .statetitle{
    position: absolute;
    left:0;
    width:330px;
    line-height: 22px;
    text-align: center;
}
.waybilltitle .statetitle .Highlight{
    color:#FF4500;
}
.CloseWaybill{
    position: absolute;
    width:20px;
    right:0;
    display: block;
    height:20px;
    background-image: url(g.png);
}
.waybillList .table{
    /*margin-left:20px;*/
    position: absolute;
    top:22px;
    width:348px;
    height:148px;
    border:1px #8D8D8D solid;
    font-size: 12px;
}
.waybillList .table .thead{
    font-weight: 600;
}
.waybillList .tbodybox{
    width:100%;
    /*height:130px;*/
    height:0;
}
.waybillList .table div>label{
    display: block;
    float: left;
    width:auto;
    text-align: left;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    cursor: pointer;

}
.waybillList .table div>label:nth-child(1){
    width:104px;
}
.waybillList .table div>label:nth-child(2){
    width:123px;
}
.waybillList .table div>label:nth-child(3){
    width:59px;
}
.waybillList .table div>label:nth-child(4){
    width:59px;
}
/*.table .tbody div>label:only-child{
    width:auto;
}*/
.tbody div{
    border-top:1px #8D8D8D solid;
}
.tbody div:hover{
    background-color: #666;
}
.select{
    background-color: #666;
}
.tbody div>label:not(:first-child){
    border-left:1px #8D8D8D solid;
}
.detailsbox{
    position: absolute;
    top:219px;
    right:0;
    /*width:350px;*/
    width:350px;
    height:230px;
    color:#405C8E;
    overflow: hidden;
    font-size: 10px;
    display: none;
}
.detailsbox .table{
    width:348px;
    height:228px;
    border:1px #8D8D8D solid;
}
.details{
    /*display: none;*/
}
.details .item label,.details .subitem label{
    display: block;
    float: left;
    width:auto;
    text-align: left;
    word-break:break-all;
    overflow: visible;
}
.details .item{
    margin-left:5px;
    border-left:1px #ccc solid;
    position: relative;
}
.details .item:not(:first-child){
    padding-top:10px;
}

.details .item label:last-child{
    position: absolute;
    background-color: #FFDAB9;
    border-radius: 50%;
    width:12px;
    height:12px;
    left:-6px;
    top:3px;
}
.details .item:not(:first-child) label:last-child{
    top:13px;
    background-color: #fff;
}
.details .item label:last-child span{
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width:6px;
    height:6px;
    left:3px;
    top:3px;
}
.details .item:not(:first-child) label:last-child span{
    background-color: #ccc;
}

/*.details .item label:nth-child(1){
    width:12px;
}
.details .item label:nth-child(1) span{
    border-radius: 50%;
    background-color: red;
    width:100%;
}*/
.details .item label:nth-child(1){
    width:105px;
    margin-left:10px;
}
.details .item label:nth-child(2){
    width:56px;
}
.details .item label:nth-child(3){
    width:171px;

}
.details .subitem{
    padding-top:3px;
    margin-left:5px;
    border-left:1px #ccc solid;
}
.details .subitem label:nth-child(1){
    width:56px;
    margin-left:115px;
}
.details .subitem label:nth-child(2){
    width:171px;
}

.CloseDetails{
    width:100%;
    display: block;
    height:12px;
    background-color: #fff;
    cursor: pointer;
}
.show{
    display: block;
}
.btnclick{
    cursor: pointer;
}

.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1} 